.container
  .row.landing-header
      .col-md-7.logo Company Name
      .headerLink.col-md-1.col-xs-6.nav-item Twitter
      .headerLink.col-md-1.col-xs-6.nav-item Blog
      .headerLink.col-md-3.col-xs-12.nav-item.pob preorder
   .landing-hero
      h1 This is new. This is nice. Welcome.
      p Discover our revolutionary new product
      span.videoButton Promo Video <span class="fa fa-play" /></span>
      span.poButton Preorder Now
   .features.row
      .col-md-6.feature-demo
        img(src="http://placehold.it/500x500/eeeeee").img-responsive.img-enhance
      .col-md-6.feature-desc
        h3 Feature Title
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
   .features.row
     .col-md-6.feature-demo
       img(src="http://placehold.it/500x500/eeeeee").img-responsive.img-enhance
     .col-md-6.feature-desc
       h3 Feature Title
       p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   .contact
     h1 Want to stay in touch?
     p Enter your email address below and stay up-to-date with our products.
     .row
       input(type='text' placeholder='Email Address').email
       .confirm-sub Subscribe